<div class="outer background">
  <div class="middle">
    <form class="inner" #login="ngForm">
      <div>
        <label>Email</label>
        <input type="email" required>
      </div>

      <div>
        <label>Password</label>
        <input type="password" required>
      </div>

      <div style="position:relative">
        <input type="submit" value="Log in">
        <span style="position: absolute; bottom: 0; right: 0;">
          <a class="signup-link" routerLink="/SignUp"> Don't have an account? Sign up </a>
        </span>
      </div>
    </form>
  </div>
</div>
